<html>
<head>
<title>后台管理</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" href="images/style.css" type="text/css">

</head>
<body> <!--
<?php
print <<<EOT
--> 
<TABLE cellSpacing=0 cellPadding=0 width="100%" border=0>
  <TBODY> 
  <TR> 
    <TD width=481 
    height=25><img src="images/li_2.gif" width="342" height="40"></TD>
    <TD bgColor=#ffffff></TD>
    <TD width=20>&nbsp;</TD>
  </TR>
  <TR> 
    <TD><img src="images/li_4.gif" width="357" height="37"></TD>
    <TD vAlign=top bgColor=#ffffff rowspan="2"> <br>
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr> 
          <td width="43%"><img src="images/img_u.gif" 
      align=absMiddle>文章共有：<font color="#FF0000">{$Article}</font> 篇</td>
          <td width="57%">&nbsp;<img src="images/img_u.gif" 
      align=absMiddle>网友评论：<font color="#FF0000">{$Comment}</font> 条</td>
        </tr>
        <tr> 
          <td width="43%"><img src="images/img_u.gif" 
      align=absMiddle>待审文章：<A HREF="index.php?lfj=artic&job=listartic&type=unyz&only=1&mid=0"><font color="#FF0000">{$Article0}</font></A> 篇</td>
          <td width="57%"> &nbsp;<img src="images/img_u.gif" 
      align=absMiddle>待审评论：<A HREF="index.php?lfj=comment&job=list&type=noyz"><font color="#FF0000">{$Comment0}</font></A> 条</td>
        </tr>
        <tr> 
          <td width="43%"><img src="images/img_u.gif" 
      align=absMiddle>共有会员：<font color="#FF0000">{$Member}</font> 位</td>
          <td width="57%"> &nbsp;<img src="images/img_u.gif" 
      align=absMiddle>网友留言：<font color="#FF0000">{$Guestbook}</font> 条</td>
        </tr>
      </table>
    </TD>
    <TD>&nbsp;</TD>
  </TR>
  <TR> 
    <TD><img src="images/li_6.gif" width="369" height="69"></TD>
    <TD background="">&nbsp;</TD>
  </TR>
  </TBODY> 
</TABLE>
 
 
 <SCRIPT LANGUAGE="JavaScript">
<!--
document.write('<div align="center">');
//-->
</SCRIPT>

<table width="100%" border="0" cellspacing="1" cellpadding="3" class="tablewidth">
  <tr class="head"> 
    <td height="23" colspan="2">服 务 器 信 息</td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td width="50%">服务端信息：$systemMsg[SERVER_SOFTWARE]</td>
    <td width="50%">邮件模式：$systemMsg[sys_mail]</td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td width="50%">PHP版本：$systemMsg[sysversion]</td>
    <td width="50%">服务器IP：$systemMsg[SERVER_ADDR]</td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td width="50%">MYSQL版本：$systemMsg[mysqlVersion]</td>
    <td width="50%">服务器端口：$systemMsg[SERVER_PORT]</td>
  </tr>
    <tr bgcolor="#FFFFFF"> 
    <td width="50%">是否允许文件上传：$systemMsg[file_uploads]<span help="1">（如果不允许可把php.ini里的file_uploads=Off改成file_uploads=On，重启服务器即可）</span></td>
    <td width="50%">上传文件存放的临时目录：$systemMsg[upload_tmp_dir]</td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td width="50%">最大上传限制：$systemMsg[max_upload]<span help="1">（需更大可修改php.ini里的upload_max_filesize值，重启服务器即可）</span></td>
    <td width="50%">服务器所在时间：$systemMsg[systemtime]</td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td width="50%">最大执行时间：$systemMsg[max_ex_time]<span help="1">（需更大可修改php.ini里的max_execution_time值，重启服务器即可）</span></td>
    <td width="50%">网站所在磁盘物理位置：$systemMsg[DOCUMENT_ROOT]</td>
  </tr>
   <tr bgcolor="#FFFFFF"> 
    <td width="50%">空间限制内存：$systemMsg[memory_user_limit]<span help="1">（需更大可修改php.ini里的memory_limit值，重启服务器即可）</span></td>
	<td width="50%">当前文件路径：$systemMsg[SCRIPT_FILENAME]</td>  
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td width="50%">是否支持采集：$systemMsg[allow_url_fopen]<span help="1">（如果不支持可把php.ini里的allow_url_fopen=Off改成allow_url_fopen=On，重启服务器即可）</span></td>
     <td width="50%">Zend Optimizer版本：$systemMsg[zendVersion]</td>
  
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td width="50%">是否支持GD2库：$systemMsg[gdpic]<span help="1">（如果不支持可把php.ini中;extension=php_gd2.dll前面的;去掉，重启服务器即可）</span></td>
    <td width="50%">当前登陆IP：$systemMsg[onlineip]</td>
  </tr>
   <tr bgcolor="#FFFFFF"> 
    <td width="50%">是否允许Cookie：$systemMsg[ifcookie]<span help="1">（如果不允许可在Windows控制面板 ,"Internet选项" ,隐私设置中调整）</span></td>
    <td width="50%">当前域名：$systemMsg[SERVER_NAME]</td>
  </tr>
</table>
<table width="100%" border="0" cellspacing="1" cellpadding="3" class="tablewidth">
  <tr class="head"> 
    <td height="23">开 发 团 队</td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td>官方网站： <a href="http://www.php168.com" target="_blank">http://www.php168.com</a> 
    </td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td bgcolor="#FFFFFF">技术支持： <a href="http://bbs.php168.com" target="_blank">http://bbs.php168.com</a> 
    </td>
  </tr>
  <tr bgcolor="#FFFFFF">
    <td bgcolor="#FFFFFF">
      <!--
EOT;
if(is_file(PHP168_PATH."inc/biz/biz.php")){
print <<<EOT
-->
      版本类型： {$php168_Edition} <A HREF="http://www.php168.com/biz/impower.php" target="_blank"><font color=blue>商业授权</font></A><span help="1">（授权域名：{$BIZ_URLDB['0']}）</span><br>
      <!--
EOT;
}else{
print <<<EOT
-->
      版本类型： {$php168_Edition} <A HREF="http://www.php168.com/biz/product.php" target="_blank"><font color=green>个人免费</font></A><span help="1">（适合个人学习，否则建议购买商业授权版，获取更好的服务和功能）</span><br> 
<!--
EOT;
}
print <<<EOT
--> 
</td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td>系统设计： 龙城</td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td>团队管理： 骏龙</td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td>特别鸣谢： 
     <a href="http://bbs.php168.com/profile-bbs-action-show-uid-81067.html" target="_blank">lisheng51</a>、 
      <a href="http://www.zxx6.com/" target="_blank">toopd</a> 
      <a href="http://ok175.com/" target="_blank"></a>、论坛版主 等等</td>
  </tr>
</table>
<!--
EOT;
?>
-->
